<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>task release platform</title>
</head>
<body>
	<div style="text-align: center">
		<header1 style="font-size: 40px;">welcome to task
		release platform</header>
	</div>
	<div>
	<input id="uname" type="txt" placeholder="please type your name"  style="margin-left: 400px;margin-top: 46px;height: 33px;">
	<p><a href="/taskList"  style="margin-left: 400px;margin-top: 46px;height: 33px;">get tasks</a></p>
	<p><a href="/taskupload" style="margin-left: 400px;margin-top: 46px;height: 33px;">release tasks</a></p>
	</div>
</body>
</html>